<nav class="w-64 h-[839px] bg-gray-800 text-white p-4 space-y-4">
    <h2 class="text-xl font-bold mb-4">Menú</h2>
  
    <div class="flex flex-col w-full mt-2">
  
      <a class="block p-2 rounded hover:bg-gray-700 transition cursor-pointer" 
          routerLink="/registro" 
          routerLinkActive="bg-gray-700"
      >
        Formulario de registro
      </a>

      <a class="block p-2 rounded hover:bg-gray-700 transition cursor-pointer" 
      routerLink="/list-employees" 
      routerLinkActive="bg-gray-700"
      >
        Lista de empleados
      </a>
  
      <a class="block p-2 rounded hover:bg-gray-700 transition cursor-pointer"
          routerLink="/info-api" 
          routerLinkActive="bg-gray-700">
        Información APIs
      </a>
  
    </div>
  </nav>
